body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.wrapper {
  max-width: 900px;
}

header.two-split {
  font-family: arial;
  height: 3rem;
  padding: 3rem 0 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header.two-split .text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

header.two-split .nav-text {
  width: 100%;
  margin-left: 1rem;
}

header.two-split h1 {
  font-size: 2rem;
}

header.two-split h4 {
  text-transform: uppercase;
}

.logo-bar {
  width: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.logo-bar a:nth-child(6) {
  margin-right: 0.5rem;
}

.pattern-ribbon {
  background-image: url("imgs/hr-img.png");
  height: 1rem;
}

main {
  margin: 4rem 0;
  
}

.article-title {
  font-family: arial;
  margin-bottom: 2rem;
}

.article-title h2 {
  font-size: 3rem;
}

.sub-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  color: grey;
}

.article-body {
  margin-bottom: 4rem;
}

.article-body p {
  font-size: 1.2rem;
  margin: 2rem 0;
  line-height: 1.5rem;
  color: gray;
  text-indent: 2rem;
  letter-spacing: .05rem;
}

.ingredients {
  font-family: arial;
  background: url(imgs/list-bg.png);
  padding: 2rem;
}

.ingredients ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 15rem;
  padding: 0 2rem;
  margin-left: 1rem;
  list-style-image: url('sqpurple.gif');
}

.ingredients li {
  width: 50%;
  font-size: 1.5rem;
  margin: 6px 0;
  display: flex;
}

.ingredients input {
  margin-right: 1rem;
}

.article-footer {
  margin: 2rem 0 3rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.article-footer div {
  width: 65%;
}

.article-footer h3 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.article-footer p {
  font-size: 1.25rem;
  line-height: 1.5rem;;
}

.btn {
  font-family: arial;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 4rem;
  padding: 0 1rem;
  text-decoration: none;
}

.share.btn {
  background-color: salmon;
  color: white;
}

footer {
  border-top: 1px solid #ececec;
  position: relative;
}

footer img {
  position: absolute;
  top: -1rem;
  right: 49%;
}

.footer-text {
  color: grey;
  text-align: center;
  display: block;
  margin: 3rem auto;
  line-height: 1.5rem;
}